:root{
  --red : rgb(128,0,0);
  --cream : rgb(	255, 253, 208);
  --white : #FFF;
  --error: rgb(255, 0, 0)
}

.error{
  color: var(--error);
  font-size: 2.5rem;
}

.loading{
  font-size: 2rem;
  color : var(--white);
}

body{
  margin: 0;
  padding: 0;
  background: var(--cream)
}

a{
  text-decoration: none;
  text-align: center;
  color: var(--red)
}

/* navbar */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  margin: auto;
}

.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title p {
  margin-right: 1rem;
}

.home{
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.icon{
  font-size: 3rem;
}

.title, .home{
  cursor: pointer;
}

.title:hover, .home:hover{
  color: var(--red);
}

/* HOME PAGE and Category filter page*/
.category-container,
.all-meals-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 2300px;
}

.single-container,
.meal-container{
  max-width: 300px; 
  color: var(--red);
  cursor: pointer;
  margin: 1rem ;
  padding: .4rem;
}

.single-container:hover,
.meal-container:hover{
  transform: scale(1.2)
}

.food-img,
.meal-img{
  width: 100%;
}

.food-img img,
.meal-img img{
  width: 100%;
  height: 100%;
}

